@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/WEB/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("/WEB/fonts/ClashDisplay-Extralight.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Extralight.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("/WEB/fonts/ClashDisplay-Light.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Light.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/WEB/fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Regular.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/WEB/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Medium.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/WEB/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("/WEB/fonts/ClashDisplay-Bold.woff") format("woff"),
    url("/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TypoHoop";
  src: url("/WEB/Typo_Hoop_Regular_Demo.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "UnicaOne";
  src: url("/WEB/UnicaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "madeTommyFont";
  src: url("/WEB/madetommyfont/MADE\ TOMMY\ Bold\ Outline_PERSONAL\ USE.otf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --purple: #d434fe;
  --light-blue: #00a3ff;
  --red: #ff0000;
  --background-color: #150e28;
  --lime-green: #2de100;
  --pink: #ff26b9;
  --dark-purple: #903aff;
  --light-purple: #a866fd;
  --transparent-white: #ffffff.1%;
  --bg-hr: rgba(255, 255, 255, 0.18);
  --btn-background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  --unica-one-family: "Unica One", cursive;
  --montensarri-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --normal-style: normal;
  --line-height: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.all_hr {
  height: 1px;
  background: var(--bg-hr);
  border: none;
}
.open-toggle {
  display: none;
}
.close-toggle {
  display: none;
}

/* nav */

nav {
  background: var(--background-color);
}
.nav-general-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav-heading h3 {
  font-size: 36px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--white);
  font-family: "ClashDisplay-Bold";
}
#logo {
  font-size: 36px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--purple);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 100px;
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
}
.nav-links ul a {
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
  font-family: var(--montensarri-family);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
  transition: all 0.5s;
}
.nav-links ul a:hover {
  background: var(--btn-background);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-timing-function: ease-in-out;
}
.nav_btn {
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  font-family: var(--montensarri-family);
  transition: all 0.5s;
}
.nav_btn:hover {
  border: 4px solid var(--pink);
  background: none;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.nav_btn a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}
.fixedNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: var(--background-color);
  box-shadow: 0 2px 0 4px rgba(0, 0, 0, 0.1);
}
/* header */

header {
  background-color: var(--background-color);
}
.img-header-content-mobile {
  display: none;
}
.star-desktop {
  width: 15px;
}
.bulb {
  position: absolute;
  width: 40px;
  left: 300px;
  top: 70px;
}
.chain {
  width: 40px;
}
.shinnylight {
  width: 40px;
}
.header-container {
  position: relative;
}
.header-img .strike-et-img {
  position: absolute;
  left: 72%;
}
.header-head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/lens-flare.png);
  background-repeat: no-repeat;
}
.header-content h2:first-child {
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 50px;
  font-style: var(--normal-style);
  font-weight: 700;
}
.header-content h2:nth-child(2) {
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 50px;
  font-style: var(--normal-style);
}
.header-content h2:nth-child(2) span {
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 50px;
  font-style: var(--normal-style);
}
.header-content p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 18px;
  font-weight: 400;
  font-style: var(--normal-style);
  line-height: 166%;
}
.header-btn {
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  font-family: var(--montensarri-family);
  margin-top: 40px;
  transition: all 0.5s;
}
.header-btn:hover {
  border: 4px solid var(--pink);
  background: none;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.header-btn a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}
.header-counter {
  position: relative;
  display: flex;
  gap: 50px;
  margin-top: 80px;
  align-items: center;
}
.header-counter h4 {
  color: var(--white);
  font-family: "UnicaOne";
  font-size: 50px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 133%;
}
.header-counter sub {
  font-family: var(--montensarri-family);
  font-weight: 400;
  font-size: 10px;
  position: absolute;
  top: 5px;
  /* left: -15px; */
}
.img-container {
  position: relative;
}
.man-wearing-glasses {
  width: 103%;
}
.img-bg {
  position: absolute;
  top: 20px;
  width: 80%;
}
.header-img h5 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: var(--line-height);
}

/* section */

section {
  background-color: var(--background-color);
}
.aside-img {
  width: 80%;
}
.section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.section-content {
  width: 50%;
}
.section-content h1:first-child {
  font-size: 28px;
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.section-content h1:nth-child(2) {
  font-size: 28px;
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.section-content p {
  font-family: var(--montensarri-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 27.5px;
  color: var(--white);
  font-style: var(--normal-style);
}
.section-aside .arrow {
  position: absolute;
  left: 35%;
  bottom: 50px;
}

/* aside  */

aside {
  background: var(--background-color);
}
.details-img {
  width: 550px;
}
.details-container {
  display: flex;
  align-items: center;
  background-image: url(/images//lens-flare.png), url(/images/lens-flare.png);
  background-position: left center, right 300px;
  background-repeat: no-repeat;
  background-size: 600px, 600px;
}
.details-content h2:first-child {
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.details-content h2:nth-child(2) {
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.details-content p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}

/* main section */

.main-section {
  background: var(--background-color);
}
.sum-container {
  position: relative;
}
.sum-star-bottom {
  position: absolute;
  right: 650px;
}
.sum-container {
  display: flex;
  align-items: center;
  background: url(/images/lens-flare.png) no-repeat,
    url(/images/lens-flare.png) no-repeat;
  background-size: 400px, 500px;
  background-position: left bottom, 150% 300px;
  padding: 50px 0;
}
.sum-img {
  width: 500px;
}
.sum-content h3:first-child {
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: var(--line-height);
}
.sum-content h3:nth-child(2) {
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: var(--line-height);
}
.sum-content .p-container strong {
  color: var(--pink);
  font-family: var(--montensarri-family);
  font-size: 14px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: 173.5%;
}
.sum-content .p-container {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 173.5%;
  font-style: var(--normal-style);
}
.sum-btn {
  font-family: var(--montensarri-family);
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  margin-top: 50px;
  transition: all 0.5s;
}
.sum-btn:hover {
  border: 4px solid var(--pink);
  background: none;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.sum-btn a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}

/* main  */

main {
  background: var(--background-color);
}
.show-content .toggle-content {
  display: block;
}
.hidden-icon {
  width: 20px;
  display: none;
  background: none;
  border: none;
}
.show-content .hidden-icon {
  display: inline;
}
.show-content .show-icon {
  display: none;
  background: none;
  border: none;
}
.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(/images/lens-flare.png) no-repeat;
  background-size: 500px;
  background-position: right top;
}
.main-header h2:nth-child(2) {
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-weight: 700;
  font-style: var(--normal-style);
  color: var(--white);
  line-height: var(--line-height);
}
.main-header h2:nth-child(3) {
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-weight: 700;
  font-style: var(--normal-style);
  color: var(--purple);
  line-height: var(--line-height);
}
.main-header p:nth-child(4) {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  font-style: var(--normal-style);
  padding-top: 18px;
  padding-bottom: 25px;
}
.main-article p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  font-style: var(--normal-style);
  line-height: 27.5px;
  padding-top: 18px;
  padding-bottom: 35px;
}
.main-article p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  font-style: var(--normal-style);
  line-height: 27.5px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.toggle-content {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  font-style: var(--normal-style);
  line-height: 27.5px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: none;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-article .underline {
  border: none;
  height: 1px;
  background: var(--purple);
}

.question-mark {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: "madeTommyFont";
  font-weight: 500;
  position: absolute;
  left: 500px;
  color: var(--light-purple);
}
.question-mark #card2 {
  color: var(--purple);
  font-size: 100px;
  position: relative;
  top: -15px;
}
.question-mark #card1,
#card3 {
  font-size: 80px;
  position: relative;
  top: 25px;
}
.main-img {
  width: 80%;
}

/* article */

article {
  background: var(--background-color);
}
.article-container {
  padding: 70px 0;
  text-align: center;
}
.article-header h1 {
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--white);
}
.article-header p {
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 172.4%;
  color: var(--white);
}
.article-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
}
.article-body h5 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 18px;
  font-weight: 700;
  font-style: var(--normal-style);
}
.article-body .main-article-left p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 13px;
  font-style: var(--normal-style);
  font-weight: 400;
}
.article-body .main-article-right p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 13px;
  font-style: var(--normal-style);
  font-weight: 400;
}
.article-body h6 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 18px;
  font-weight: 700;
  font-style: var(--normal-style);
  padding: 80px 0;
}
.article-body p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-weight: 400;
  font-size: 12px;
}
.main-article-left {
  text-align: right;
}
.main-article-right {
  text-align: left;
}
.line-outline {
  display: block;
  align-items: center;
  margin: 0 auto;
}
.line-outline .line {
  width: 4px;
  height: 75px;
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.line-outline .num-outline {
  background: var(--btn-background);
  color: var(--white);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px 0;
}

/* figure */

figure {
  background: var(--background-color);
}
.figure-header-mobile {
  display: none;
}
.award-trophy {
  width: 90%;
}
.award-container {
  display: flex;
  align-items: center;
  padding: 70px 0;
}
.figure-header {
  padding-bottom: 180px;
}
.figure-content .figure-header h2:first-child {
  color: var(--white);
  font-family: Clash Display;
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.figure-content .figure-header h2:nth-child(2) {
  color: var(--purple);
  font-family: Clash Display;
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.figure-content .figure-header p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 170.9%;
}
.award-prize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.silver-award {
  border-radius: 8px;
  border: 1px solid #d434fe;
  background: rgba(212, 52, 254, 0.12);
  width: 170px;
}
.silver-award img {
  width: 100%;
  position: relative;
  top: -100px;
}
.silver-award-prize-content {
  text-align: center;
  position: relative;
  top: -30px;
}
.silver-award-prize-content h5 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
}
.silver-award-prize-content h6 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 600;
}
.silver-award-prize-content h4 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
}
.gold-award {
  border-radius: 8px;
  border: 1px solid var(--light-purple);
  background: rgba(144, 58, 255, 0.12);
  width: 180px;
}
.gold-award img {
  width: 130%;
  position: relative;
  top: -130px;
  right: 27px;
}
.gold-award-prize-content {
  text-align: center;
  position: relative;
  top: -55px;
}
.gold-award-prize-content h5 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 30px;
  font-style: var(--normal-style);
  font-weight: 700;
}
.gold-award-prize-content h6 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 22px;
  font-style: var(--normal-style);
  font-weight: 600;
}
.gold-award-prize-content h4 {
  color: var(--light-purple);
  font-family: var(--montensarri-family);
  font-size: 30px;
  font-style: var(--normal-style);
  font-weight: 700;
}
.bronze-award {
  border-radius: 8px;
  border: 1px solid #d434fe;
  background: rgba(212, 52, 254, 0.12);
  width: 170px;
}
.bronze-award img {
  width: 100%;
  position: relative;
  top: -100px;
}
.bronze-award-prize-content {
  text-align: center;
  position: relative;
  top: -30px;
}
.bronze-award-prize-content h5 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
}
.bronze-award-prize-content h6 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 600;
}
.bronze-award-prize-content h4 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
}

/* .sponsors and partners logo */

.logo-general-container-item {
  background: var(--background-color);
}
.logo-general-container {
  color: var(--white);
  padding: 50px;
  text-align: center;
}
.logo-container {
  width: 900px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  margin: 0 auto;
  padding-top: 50px;
}
.logo-header {
  padding-bottom: 50px;
}
.logo-header h1 {
  color: var(--white);
  font-family: Clash Display;
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: 27.5px;
}
.logo-header p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
  padding-top: 20px;
}
#liberty-company {
  padding-right: 50px;
  width: 150px;
}
#liberty-logo {
  padding-right: 50px;
  width: 250px;
}
#winwise-company {
  width: 100px;
}
#wisper-company {
  padding-top: 30px;
  width: 100px;
}
#paybox-logo {
  display: inline-block;
  padding-left: 80px;
  padding-right: 100px;
}
#paybox-logo h1 {
  color: var(--white);
  height: 112.476px;
  font-family: "TypoHoop";
  font-size: 41px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#paybox-logo h1 span {
  color: #00a3ff;
  font-family: "TypoHoop";
  font-size: 41px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#visualplus-logo {
  display: inline-block;
}
#visualplus-logo h2 {
  flex-shrink: 0;
  color: var(--white);
  font-family: Volkhov;
  font-size: 31px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#visualplus-logo h2 span {
  width: 231px;
  height: 45px;
  flex-shrink: 0;
  color: #f00;
  font-family: Volkhov;
  font-size: 31px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#visualplus-logo h2 p {
  width: 79px;
  height: 21px;
  flex-shrink: 0;
  color: var(--white);
  font-family: Voces;
  font-size: 10px;
  font-style: var(--normal-style);
  position: relative;
  left: 80px;
  font-weight: 400;
  line-height: 27.5px;
}

/* figcaption */

figcaption {
  background: var(--background-color);
}
.figcaption-container {
  position: relative;
  display: flex;
  align-items: center;
}
.figcaption-content {
  margin: 50px 0;
}

.figcaption-header h1:first-child {
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--normal-style);
}
.figcaption-header h1:nth-child(2) {
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--normal-style);
}
.figcaption-header p:nth-child(3) {
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
.figcaption-header p:nth-child(4) {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 188.4%;
  padding: 20px 0;
}
.figcaption-main-container {
  width: 469px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
  flex-grow: 1;
  margin: 50px 0;
  padding: 30px;
}
.main-content {
  width: 100%;
}
.main-content p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 216.4%;
  padding: 25px 0;
}
.list-content h4 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 13px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: 216.4%;
}
.list-content h5 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: 216.4%;
}
.list-content .list-item {
  list-style-type: none;
  padding-top: 20px;
}
.list-content .list-item {
  display: flex;
  gap: 20px;
}
.list-content .list-item li {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 216.4%;
}
.figcaption-btn {
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  font-family: var(--montensarri-family);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  transition: all 0.5s;
}
.figcaption-btn:hover {
  border: 4px solid var(--pink);
  background: none;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.figcaption-btn a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}
.figcaption-img {
  position: relative;
}
.unluck-img-desktop {
  width: 70%;
  position: absolute;
  bottom: -150px;
}
.luck-bg {
  width: 70%;
}

/* footer */

footer {
  background: var(--background-color);
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.footer-content a {
  text-decoration: none;
}
.footer-content h3 {
  padding-bottom: 5px;
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.footer-content h3 span {
  color: var(--purple);
}
.footer-content p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 216.4%;
  padding-bottom: 30px;
  /* width: 50px; */
}
.footer-content h6 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
}
.footer-content h6 span {
  border-left: 2px solid var(--purple);
  padding-left: 20px;
}
.footer-links ul a {
  list-style-type: none;
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  font-style: var(--normal-style);
  line-height: 2rem;
}
.footer-links ul a span {
  color: var(--purple);
  font-size: 12px;
}
.footer-icons {
  position: absolute;
  right: 270px;
  top: 200px;
  letter-spacing: 10px;
}
.footer-info h2 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 600;
  line-height: 172.4%;
}
.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  padding-top: 20px;
}
.footer-end p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
  padding-bottom: 20px;
  text-align: center;
}

/* scroll top arrow */

footer .topLink {
  font-family: "ClashDisplay-Bold";
  color: var(--white);
  font-size: 20px;
  background-color: var(--pink);
  display: grid;
  place-items: center;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 2s;
  width: 2rem;
  height: 2rem;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
}
footer .show-topLink {
  visibility: visible;
  z-index: 100;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
