/* nav */

.nav-heading {
  flex-grow: 1;
}
.open-toggle {
  width: 43px;
  position: relative;
  display: block;
}
.open-toggle:hover {
  transform: rotate(30deg);
}
.close-toggle {
  display: block;
  position: absolute;
  left: 86%;
  top: 14px;
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 23px;
  background-image: url(/images/togglebg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.close-toggle:hover {
  transform: rotate(30deg);
}
.nav-general-container {
  position: relative;
  align-items: flex-start;
  justify-content: center;
}

.nav-links {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.04);
  background: #150e28;
  backdrop-filter: blur(30px);
  gap: 30px;
  flex-grow: 1;
  padding-left: 50px;
  z-index: 100;
  transform: translate(-100%);
}
.show-links {
  transform: translate(0);
}
.nav-links ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 64px;
}
.nav-links ul :hover {
  border: 1px solid var(--purple);
}

.nav_btn {
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  font-family: var(--montensarri-family);
}
.nav_btn a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}

/* header */

header {
  background-color: var(--background-color);
}
.img-header-content-mobile {
  display: block;
  text-align: center;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: var(--line-height);
}
.bulb {
  position: absolute;
  width: 20px;
  left: 250px;
  top: 100px;
}
.chain {
  width: 20px;
}
.shinnylight {
  width: 20px;
}
.header-img .strike-et-img {
  position: absolute;
  left: 52%;
}
.header-container {
  position: relative;
  /* text-align: center; */
}
.header-head {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/lens-flare.png);
  background-repeat: no-repeat;
}
.header-content {
  padding-top: 50px;
}
.header-content h2:first-child {
  font-size: 30px;
  text-align: center;
}
.header-content h2:nth-child(2) {
  font-size: 30px;
  text-align: center;
}
.header-content h2:nth-child(2) span {
  font-size: 30px;
  text-align: center;
}
.header-content p {
  font-size: 13px;
  text-align: center;
  padding: 10px 0;
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.header-counter {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.header-counter h4 {
  font-size: 30px;
  text-align: center;
}
.img-container {
  position: relative;
}
.man-wearing-glasses {
  width: 103%;
}
.img-bg {
  position: absolute;
  top: 20px;
  width: 80%;
}
.header-img h5 {
  font-size: 14px;
  text-align: center;
}
.img-header-content {
  display: none;
}

/* section */

section {
  background-color: var(--background-color);
}
.aside-img {
  width: 100%;
  margin: 0 auto;
}
.section-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.section-content {
  width: 100%;
}
.section-content h1:first-child {
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
.section-content h1:nth-child(2) {
  font-size: 25px;
  text-align: center;
}
.section-content p {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}
.section-aside .arrow {
  position: inherit;
  left: 20px;
}

/* aside  */

aside {
  background: var(--background-color);
}
.details-img {
  width: 400px;
}
.details-container {
  flex-direction: column-reverse;
  align-items: center;
  background-image: url(/images//lens-flare.png), url(/images/lens-flare.png);
  background-position: right center, right 600px;
  background-repeat: no-repeat;
  background-size: 300px, 400px;
}
.details-content h2:first-child {
  text-align: center;
  font-size: 28px;
}
.details-content h2:nth-child(2) {
  text-align: center;
  font-size: 28px;
}
.details-content p {
  font-size: 12px;
  text-align: center;
}

/* main-section */

.main-section {
  background: var(--background-color);
}
.sum-star-bottom img{
  width: 10px;
}
.sum-container {
  position: relative;
}
.sum-star-bottom {
  position: absolute;
  right: 650px;
}
.sum-container {
  flex-direction: column;
  align-items: center;
  background: url(/images/lens-flare.png) no-repeat,
    url(/images/lens-flare.png) no-repeat;
  background-size: 300px, 400px;
  background-position: right bottom, top;
  padding: 50px 0;
}
.sum-img {
  width: 300px;
}
.sum-content h3:first-child {
  text-align: center;
  color: var(--white);
  text-align: center;
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: var(--line-height);
}
.sum-content h3:nth-child(2) {
  text-align: center;
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: var(--line-height);
}
.sum-content .p-container strong {
  text-align: center;
  color: var(--pink);
  font-family: var(--montensarri-family);
  font-size: 14px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: 173.5%;
}
.sum-content .p-container {
  text-align: center;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 173.5%;
  font-style: var(--normal-style);
}
.sum-btn {
  font-family: var(--montensarri-family);
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
.sum-btn a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}

/* main  */

main {
  background: var(--background-color);
}
.main-star, .main-bottom, img {
  width: 10px;
}
.main-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url(/images/lens-flare.png) no-repeat;
  background-size: 100px;
  background-position: right top;
}
.main-header {
  padding-bottom: 50px;
}
.main-header h2:nth-child(2) {
  font-size: 20px;
  text-align: center;
}
.main-header h2:nth-child(3) {
  font-size: 20px;
  text-align: center;
}
.main-header p:nth-child(4) {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
.main-article p {
  font-size: 12px;
  line-height: 27.5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-article p {
  font-size: 12px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 10px;
}
.main-article .toggle-content {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.question-mark {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: "madeTommyFont";
  font-weight: 500;
  position: absolute;
  left: 0;
  color: var(--light-purple);
}
.question-mark #card2 {
  color: var(--purple);
  font-size: 70px;
  position: relative;
  top: -15px;
}
.question-mark #card1,
#card3 {
  font-size: 50px;
  position: relative;
  top: 25px;
}
.main-img {
  width: 80%;
}

/* article */

article {
  background: var(--background-color);
}
.article-star img {
  width: 10px;
}
.article-container {
  padding: 70px 0;
  text-align: center;
}
.article-header h1 {
  font-family: "ClashDisplay-Bold";
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--white);
}
.article-header p {
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 172.4%;
  color: var(--white);
}
.article-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 40px 0;
}
.article-body h5 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 14px;
  font-weight: 700;
  font-style: var(--normal-style);
  line-height: 2rem;
}
.article-body .main-article-left p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
}
.article-body .main-article-right p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
}
.article-body h6 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 16px;
  font-weight: 700;
  font-style: var(--normal-style);
  padding: 20px 0;
}
.article-body p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-weight: 400;
  font-size: 12px;
}
.main-article-left {
  text-align: left;
}
.main-article-right {
  text-align: left;
}
.line-outline {
  display: none;
  align-items: center;
  margin: 0 auto;
}
.line-outline .line {
  width: 4px;
  height: 75px;
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}
.line-outline .num-outline {
  background: var(--btn-background);
  color: var(--white);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px 0;
}

/* figure */

figure {
  background: var(--background-color);
}
.figure-header {
  display: none;
}
.figure-header-mobile h2:first-child {
  color: var(--white);
  font-family: Clash Display;
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  text-align: center;
}
.figure-header-mobile h2:nth-child(2) {
  color: var(--purple);
  font-family: Clash Display;
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  text-align: center;
}
.figure-header-mobile p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 170.9%;
  text-align: center;
}
.figure-header-mobile {
  display: block;
}
.award-trophy {
  width: 90%;
  padding: 80px 0;
}
.award-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}
.figure-header {
  padding-bottom: 150px;
}
.figure-content .figure-header h2:first-child {
  font-size: 20px;
  text-align: center;
}
.figure-content .figure-header h2:nth-child(2) {
  font-size: 20px;
  text-align: center;
}
.figure-content .figure-header p {
  font-size: 12px;
  text-align: center;
}
.award-prize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.silver-award {
  border-radius: 8px;
  border: 1px solid #d434fe;
  background: rgba(212, 52, 254, 0.12);
  width: 80px;
}
.silver-award img {
  width: 80%;
  position: relative;
  top: -40px;
  left: 10px;
}
.silver-award-prize-content {
  text-align: center;
  position: relative;
  top: -20px;
}
.silver-award-prize-content h5 {
  font-size: 12px;
}
.silver-award-prize-content h6 {
  font-size: 12px;
}
.silver-award-prize-content h4 {
  font-size: 14px;
}
.gold-award {
  width: 90px;
}
.gold-award img {
  width: 110%;
  position: relative;
  top: -50px;
  right: 5px;
}
.gold-award-prize-content {
  text-align: center;
  position: relative;
  top: -20px;
}
.gold-award-prize-content h5 {
  font-size: 12px;
}
.gold-award-prize-content h6 {
  font-size: 12px;
}
.gold-award-prize-content h4 {
  font-size: 14px;
}
.bronze-award {
  border-radius: 8px;
  border: 1px solid #d434fe;
  background: rgba(212, 52, 254, 0.12);
  width: 80px;
}
.bronze-award img {
  width: 80%;
  position: relative;
  top: -40px;
  left: 10px;
}
.bronze-award-prize-content {
  text-align: center;
  position: relative;
  top: -20px;
}
.bronze-award-prize-content h5 {
  font-size: 12px;
}
.bronze-award-prize-content h6 {
  font-size: 12px;
}
.bronze-award-prize-content h4 {
  font-size: 12px;
}

/* .sponsors and partners logo */

.logo-general-container-item {
  background: var(--background-color);
}
.logo-general-container {
  color: var(--white);
  padding: 50px;
  text-align: center;
}
.logo-container {
  width: 278px;
  height: 468px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  margin: 0 auto;
  padding-top: 50px;
}
.logo-header {
  padding-bottom: 50px;
}
.logo-header h1 {
  color: var(--white);
  font-family: Clash Display;
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: 27.5px;
}
.logo-header p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
  padding-top: 20px;
}
#liberty-company {
  padding-right: 50px;
  width: 129px;
}
#liberty-logo {
  padding-right: 50px;
  width: 147px;
}
#winwise-company {
  width: 62px;
}
#wisper-company {
  padding-top: 30px;
  width: 62px;
}
#paybox-logo {
  display: inline-block;
  padding-top: 30px;
  padding-left: 16px;
}
#paybox-logo h1 {
  color: var(--white);
  height: 112.476px;
  font-family: "TypoHoop";
  font-size: 41px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#paybox-logo h1 span {
  color: #00a3ff;
  font-family: "TypoHoop";
  font-size: 41px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#visualplus-logo {
  display: inline-block;
}
#visualplus-logo h2 {
  flex-shrink: 0;
  color: var(--white);
  font-family: Volkhov;
  font-size: 31px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#visualplus-logo h2 span {
  width: 231px;
  height: 45px;
  flex-shrink: 0;
  color: #f00;
  font-family: Volkhov;
  font-size: 31px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
#visualplus-logo h2 p {
  width: 79px;
  height: 21px;
  flex-shrink: 0;
  color: var(--white);
  font-family: Voces;
  font-size: 10px;
  font-style: var(--normal-style);
  position: relative;
  left: 80px;
  font-weight: 400;
  line-height: 27.5px;
}

/* figcaption */

figcaption {
  background: var(--background-color);
}
.figcaption-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
.figcaption-content {
  margin: 10px 0;
}

.figcaption-header h1:first-child {
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 20px;
  text-align: center;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--normal-style);
}
.figcaption-header h1:nth-child(2) {
  color: var(--purple);
  font-family: "ClashDisplay-Bold";
  font-size: 20px;
  text-align: center;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--normal-style);
}
.figcaption-header p:nth-child(3) {
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--montensarri-family);
  font-size: 12px;
  text-align: center;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 27.5px;
}
.figcaption-header p:nth-child(4) {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  text-align: center;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 188.4%;
  padding: 10px 0;
}
.figcaption-main-container {
  width: 279px;
  height: 755px;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
  flex-grow: 1;
  margin: 20px auto;
  padding: 30px;
}
.main-content p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  text-align: center;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 216.4%;
  padding: 15px 0;
}
.list-content h4 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 13px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: 216.4%;
}
.list-content h5 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: 216.4%;
}
.list-content .list-item {
  list-style-type: none;
  padding-top: 10px;
}
.list-content .list-item {
  display: flex;
  gap: 20px;
}
.list-content .list-item li {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 216.4%;
}
.figcaption-btn {
  width: 172px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--btn-background);
  border: none;
  font-family: var(--montensarri-family);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.figcaption-btn a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}
.figcaption-img {
  position: relative;
}
.unluck-img-desktop {
  width: 70%;
  position: absolute;
  top: 45px;
}
.luck-bg {
  width: 70%;
  top: 100px;
}

/* footer */
.footer-star img {
  width: 10px;
}
.footer-container {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}
.footer-content h3 {
  padding-bottom: 5px;
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 20px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
.footer-content h3 span {
  color: var(--purple);
}
.footer-content p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: 216.4%;
  padding-bottom: 30px;
  /* width: 50px; */
}
.footer-content h6 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
}
.footer-content h6 span {
  border-left: 2px solid var(--purple);
  padding-left: 20px;
}
.footer-links {
  padding-top: 50px;
}
.footer-links ul a {
  list-style-type: none;
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-weight: 400;
  font-style: var(--normal-style);
  line-height: 2rem;
  padding-top: 50px;
}
.footer-links ul a span {
  color: var(--purple);
  font-size: 12px;
}
.footer-icons {
  position: inherit;
  letter-spacing: 10px;
}
.footer-info {
  padding-top: 30px;
}
.footer-info h2 {
  color: var(--purple);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 600;
  line-height: 172.4%;
}
.footer-contact {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  color: var(--white);
  padding-top: 20px;
}
.footer-end p {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
  text-align: center;
  padding-bottom: 20px;
}
