@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
body {
  background: var(--background-color);
}
:root {
  --white: #ffffff;
  --purple: #d434fe;
  --light-blue: #00a3ff;
  --red: #ff0000;
  --background-color: #150e28;
  --lime-green: #2de100;
  --pink: #ff26b9;
  --dark-purple: #903aff;
  --light-purple: #a866fd;
  --transparent-white: #ffffff.1%;
  --bg-hr: rgba(255, 255, 255, 0.18);
  --btn-background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  --unica-one-family: "Unica One", cursive;
  --montensarri-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --normal-style: normal;
  --line-height: normal;
}

.nav-general-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav-logo h3 a {
  text-decoration: none;
  color: var(--white);
  font-family: "ClashDisplay-Bold";
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
}
#linked {
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--purple);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
}
.nav-links ul a {
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
  font-family: var(--montensarri-family);
  font-size: 14px;
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}
.nav-links ul a span {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_btn {
  width: 172px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #9a39ff;
  background: #150e28;
}
.nav_btn a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: var(--font-size);
  font-style: var(--normal-style);
  line-height: var(--line-height);
  font-weight: 400;
}
.section-container {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  background: url(/images/lens-flare.png) no-repeat,
    url(/images/lens-flare.png) no-repeat;
  background-size: 400px, 600px;
  background-position: 50px 8%, 300% 500px;
  background: var(--background-color);
}
.section-container picture #picture-heading {
  display: none;
  color: var(--purple);
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 600;
  line-height: var(--line-height);
}
.register-img {
  position: relative;
  width: 100%;
}
.section-content {
  position: relative;
  padding: 2rem;
  width: 100%;
  height: 90vh;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.section-content h1 {
  color: var(--purple);
  font-size: 28px;
  font-style: var(--normal-style);
  font-weight: 600;
  line-height: var(--line-height);
}

.section-content p {
  color: #fff;
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
}
.section-content h2 {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 18px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
}
.et-form-input-mobile {
  display: none;
}
.et-form-input {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.et-form-input * {
  width: 100%;
}
.et-form-input label {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 10px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
  gap: 10px;
}
.et-form-input input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--white);
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}
.et-form-input input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.et-form-input select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--white);
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
}
.et-form-input select::placeholder {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
}
.review-text {
  color: var(--pink);
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 20px 0;
}
.register-btn {
  color: var(--white);
  font-family: var(--montensarri-family);
  font-size: 16px;
  font-style: var(--normal-style);
  font-weight: 400;
  line-height: var(--line-height);
  padding: 15px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  margin: 30px 0;
  width: 100%;
  border: none;
}
.footer-label {
  color: var(--white);
  font-size: 14px;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(21, 14, 40, 0.5);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
}
.modalOverlay.active {
  display: flex;
}
.success-message-container {
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  width: 516px;
  height: 399px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.success-message-container .donemark {
  width: 35%;
  position: relative;
  left: 110px;
}
/* .success-message-container .doneman {
  position: absolute;
} */
.success-message-container h1 {
  color: var(--white);
  text-align: center;
  font-family: var(--montensarri-family);
  font-size: 16px;
  font-style: (--normal-style);
  font-weight: 600;
  line-height: var(--line-height);
  padding: 20px 0;
  list-style: none;
}
.success-message-container p {
  color: var(--white);
  text-align: center;
  font-family: var(--montensarri-family);
  font-size: 12px;
  font-style: var(--normal-style);
  font-weight: 500;
  line-height: var(--line-height);
}
.btn {
  width: 80%;
  padding: 15px;
  border: none;
  color: var(--white);
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
@media (max-width: 600px) {
  .nav-general-container {
    display: none;
  }
  .nav-logo h3 {
    font-size: 20px;
    font-style: var(--normal-style);
    font-weight: 700;
    line-height: var(--line-height);
    color: var(--white);
  }
  #linked {
    font-size: 20px;
    font-style: var(--normal-style);
    font-weight: 700;
    line-height: var(--line-height);
    color: var(--purple);
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
  }
  .nav-links ul a {
    text-decoration: none;
    color: var(--white);
    list-style-type: none;
    font-family: var(--montensarri-family);
    font-size: var(--font-size);
    font-style: var(--normal-style);
    line-height: var(--line-height);
    font-weight: 400;
  }
  .nav-links ul a span {
    background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav_btn {
    width: 172px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid #9a39ff;
    background: #150e28;
  }
  .nav_btn a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: var(--font-size);
    font-style: var(--normal-style);
    line-height: var(--line-height);
    font-weight: 400;
  }
  .section-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    background: url(/images/lens-flare.png) no-repeat,
      url(/images/lens-flare.png) no-repeat;
    background-size: 400px, 600px;
    background-position: 50px 8%, 300% 500px;
  }
  picture {
    position: relative;
  }
  .section-container picture a #picture-heading {
    position: absolute;
    right: 150px;
    top: 17px;
    display: block;
    color: var(--purple);
    font-size: 20px;
    font-style: var(--normal-style);
    font-weight: 600;
    line-height: var(--line-height);
    text-decoration: none;
  }
  .register-img {
    width: 100%;
    padding-top: 55px;
  }
  .section-content {
    padding: 1.5rem;
    width: 86%;
    height: 0;
    background: none;
    box-shadow: none;
  }
  .section-content h1 {
    display: none;
    color: var(--purple);
    font-size: 18px;
    font-style: var(--normal-style);
    font-weight: 600;
    line-height: var(--line-height);
  }
  .section-content p {
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: 10px;
    font-style: var(--normal-style);
    font-weight: 400;
    line-height: var(--line-height);
  }
  .section-content h2 {
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: 12px;
    font-style: var(--normal-style);
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
  }
  .et-form-input {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  .et-form-input-mobile {
    display: inline;
  }
  .et-form-input * {
    width: 100%;
  }
  .et-form-input-mobile label {
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: 10px;
    font-style: var(--normal-style);
    font-weight: 400;
    line-height: var(--line-height);
    gap: 10px;
  }
  .et-form-input-mobile input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--white);
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
  }
  .et-form-input-mobile input::placeholder {
    color: rgba(255, 255, 255, 0.25);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .et-form-input-mobile select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--white);
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--white);
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: 12px;
    font-style: var(--normal-style);
    font-weight: 400;
    line-height: var(--line-height);
    margin-bottom: 10px;
  }
  .et-form-input-mobile select::placeholder {
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: 12px;
    font-style: var(--normal-style);
    font-weight: 400;
    line-height: var(--line-height);
  }
  .review-text {
    color: var(--pink);
    font-family: var(--montensarri-family);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: var(--line-height);
    margin-top: 2px;
  }
  .register-btn {
    color: var(--white);
    font-family: var(--montensarri-family);
    font-size: 16px;
    font-style: var(--normal-style);
    font-weight: 400;
    line-height: var(--line-height);
    padding: 15px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    margin-top: 10px;
    width: 100%;
    border: none;
  }
  .footer-label {
    color: var(--white);
    font-size: 12px;
  }

  .success-message-container {
    vertical-align: center;
    border-radius: 5px;
    border: 1px solid #d434fe;
    background: rgba(255, 255, 255, 0.01);
    margin: 0 auto;
    width: 242px;
    height: 395px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 20%;
    left: 23%;
    z-index: 100;
  }
  .success-content-container {
    width: 100%;
  }
  .content {
    position: relative;
    bottom: -100px;
  }
  .success-message-container .donemark {
    width: 30%;
    position: relative;
    left: 55px;
    bottom: -20px;
  }
  .success-message-container .doneman {
    position: absolute;
    left: -15px;
  }
  .success-message-container h1 {
    color: var(--white);
    text-align: center;
    font-family: var(--montensarri-family);
    font-size: 14px;
    font-style: (--normal-style);
    font-weight: 600;
    line-height: var(--line-height);
    padding: 20px 0;
    list-style: none;
  }
  .success-message-container p {
    color: var(--white);
    text-align: center;
    font-family: var(--montensarri-family);
    font-size: 10px;
    font-style: var(--normal-style);
    font-weight: 500;
    line-height: var(--line-height);
  }
  .btn {
    width: 80%;
    padding: 15px;
    border: none;
    color: var(--white);
    border-radius: 4px;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
  }
}
